<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ташкент 24</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="bg bg-dark text-white" >

<header class="p-3 text-bg-dark sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <span>Ташкент 24 |</span>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>
            </ul>
            <form action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <input name="search_product"  required type="search" class=" form-control form-control- text-dark "
                       placeholder="Поиск" aria-label="Search">
            </form>
            {% if user.is_authenticated %}
            <div class="text-end">
                <a href="/cart" class="btn btn-primary me-2">Избранное</a>
                <a href="/logout" class="btn btn-danger">Выйти</a>
            </div>
            {% else %}
            <div class="text-end">
                <a href="/register" class="btn btn-warning " role="button">Регистрация</a>
                <a href="/accounts/login" class="btn btn-light" role="button">Войти</a>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
</header>

    <div class="container d-flex 100">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Категории</span> </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                {% for i in categories %}
                <li class="nav-item mb-3">
                    <a href="/category/{{ i.id }}" class="nav-link active" aria-current="page">{{ i }}</a>
                </li>
                {% endfor %}

            </ul>
            <hr>
        </div>
        <div class="container px-4 py-4" id="featured-3">
            <h2 class="pb-2 border-bottom">Список статей</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                {% for p in themes %}
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <img src="{{ p.theme_photo.url }}" width="300" height="300">
                    </div>
                    <h3 class="fs-2 text">{{ p }}</h3>
                    <p>{{ p.theme_dec|slice:12 }}...</p>
                    <a href="/theme2/{{ p.id }}"class="icon-link">Подробнее</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>